// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content {
  background-color: #dedede !important;
}

ion-note {
  color: #000 !important;
}
.fondo_card {
    background-image: url('../assets/images/fondo_card.png') !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
}
.fondo_card2 {
    background-image: url('../assets/images/fondo_card.png') !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}

.fondo-footer-card {
  background-color: #8CB235 !important;
}

.icono-tarjeta-detalle {
  margin: 0 0 15px 0;
  font-size: 1.8em;  
}

.toolbar-ios ion-title {
  padding: 0 60px 1px !important;
}